@font-face {
    font-family: retroFont;
    src: url(ARCADECLASSIC.TTF);
}

@font-face {
    font-family: proxima;
    src: url(ProximaNovaT-Thin.ttf);
}

body {
    background-image: url("https://cdn.midjourney.com/46fc59e4-c89d-4c1b-84c7-8b540a8bb990/0_2.png");
}



main {
    background-color: white;
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 2.5%;
    margin-bottom: 1%;
    padding: 30px 50px;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
    font-family: "EB Garamond", serif;
    opacity: 0.99;
}

@media (max-width:640px) {main {
    background-color: white;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20px 35px;
    font-family: "EB Garamond", serif;
    opacity: 0.99;
    border-radius: 2%;
}}


h1 {
    font-family: retroFont;
}

header {
    text-align: center;
}

h3 {
    font-weight: 400;
}

.info {
    font-style: italic;
    padding-top:0;
    display:flex;
    justify-content: space-around;
}

h5 {
    font-family: proxima, Courier, monospace;
}

li {
   font-family: proxima;
   color: black;
   font-size: 0.75rem;
}

#linkedin, #phone {
    color: rgb(44, 26, 26);
}

.line {
    border-top: 1px solid rgb(190, 190, 190);
}

#alien {
    width: 10%;
    height: 10%;
}
